
.finish h1{
    margin: 0.5rem;
}


.finishBtn{
    text-decoration: none;
    border:2px solid rgb(91, 108, 165);

    border-radius: 6px;
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
    height: 100%;
    display: block;
    width: 50%;
    margin: 0 auto;
    padding:1rem 3rem;

    
}




.finishWraper{
    text-align: center;


}


.finishBtnWraper{
 margin:0 auto;
    margin: 1rem;
  
}
