

.answers{
    border: 2px solid rgb(184, 184, 11);
    padding:0.7rem 2rem;
    border-radius: 6px;
    margin:  1rem;
    font-size: 18px;
    color: #333;
    font-weight: bold;
    display: block;
    width: 33%;
    


}




.answerWraper button:hover{
    background:rgb(160, 160, 14); 
}


#next {
    background: rgb(68, 68, 134);
    padding: 1rem 2rem;
    outline: none;
    border:none;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    width: 20%;
    margin: 0 auto;
    
    
} 


.animate{
    animation-name: next;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    border:none;
    

}
.animate2{
    animation-name: next2;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    border: none;

}

@keyframes next {

    form{background: white}
    to{background: green}
}
@keyframes next2 {

    form{background: white}
    to{background: red}
}



.answerWraper{
   
    
    margin: 0 auto;
    text-align: center;
    width: 700px;
}

.answerWraper img{
height: 280px;
width:100%;
}
.quizHeading{
    color: rgb(163, 160, 160);
    padding:0.5rem 0;
}



.questionButtons{
    display: flex;
    justify-content: center;
      align-items: center;
}


@media only screen and (max-width: 720px) {

.answerWraper {
    width: auto;
}
    .answers{

      padding: 0.6rem 2rem;
      width: 250px;


    }
    #next{
        padding: 0.5rem 1rem;
    }


    .answerWraper img{
height: 150px;
        width: 80%;
    }


    .questionButtons{
      flex-direction: column;
      justify-content: center;
      align-items: center;

    }
}


@media screen and (min-width: 721px) and (max-width: 866px) {


.answerWraper{
    width: 500px;
}


    .answers{

        padding: 0.6rem 2rem;
        width: 500px;
  
  
      }


}