/* Scores */


.scores {
    display: flex;
  flex-direction: column;
  padding: 0rem 1rem;
  justify-content: center;

    
    
}
.res-group{
  display: flex;
 align-items: center;
}
.player{
    border:2px solid rgb(5, 144, 5);
    padding: 0.8rem 0.8rem;
    border-radius: 6px;
    font-size: 25px;
    color: rgb(5, 144, 5);
    margin: 1rem 0;


}
.pts{
    margin-left: 2rem;
    font-size:25px;
    color:grey;
    font-weight: bold;
}

