.row {
  max-width: 114rem;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

.row:after {
  /* Or @extend clearfix */
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] {
  float: left;
  background: wheat;
}

[class*='col-']:not(:last-child) {
  margin-right: 2rem;
}

.col-12 {
  width: 100%;
}

.col-1-3 {
  width: calc((100% - 4rem)/3);
}

.col-1-2 {
  width: calc((100% - 2rem)/2);
}

.col-1-4 {
  width: calc((100% - 6rem)/4);
}

.col-2-4 {
  width: calc(2*((100% - 6rem)/4) + 2rem);
}

.col-2-3 {
  width: calc(2*((100% - 4rem)/3) + 2rem);
}
/*# sourceMappingURL=grid.css.map */