$grid-width:114rem;
$grid-vertical:8rem;
$grid-horisontal:2rem;

.row {
max-width: $grid-width;

margin: 0 auto;


&:not(:last-child){
    margin-bottom: $grid-vertical;
}
  &:after {
    /* Or @extend clearfix */
    content: "";
    display: table;
    clear: both;
  }
}

[class*='col-'] {
  float: left;
  background: wheat;
  &:not(:last-child){
    margin-right: $grid-horisontal;
}
  
}
.col-12{
    width: 100%;
}
.col-1-3 {
    width:calc((100% - #{2*$grid-horisontal})/3);
}
.col-1-2 {
  width:calc((100% - #{$grid-horisontal})/2);
}
.col-1-4 {
    width:calc((100% - #{3*$grid-horisontal})/4);
}
.col-2-4 {
    width:calc(2*((100% - #{3*$grid-horisontal})/4) + #{$grid-horisontal})
}

.col-2-3 {
    width:calc(2*((100% - #{2*$grid-horisontal})/3) + #{$grid-horisontal})
}
