body {
  background: #332;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: white;
  height: 100%;
  width: 100%;
}

.quizHeader {
  text-align: center;
  padding: 1rem;
  background: #333;
}

.quizHeader .quizHeaderHeading {
  color: #a3a0a0;
  margin: 0;
  padding: 0;
}

.quizLogoBackground {
  height: 400px;
}

.quizLogoBackground .quizLogoBackgroundImage {
  height: 100%;
  position: relative;
}

.quizLogoBackground .quizLogoBackgroundImage img {
  height: 200px;
  width: 220px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.quizPlayButtonWraper {
  text-align: center;
}

.quizPlayButtonWraper .play {
  outline: none;
  border: none;
  background: #0e0eb9;
  padding: 1rem;
  width: 50%;
  color: wheat;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.quizPlayButtonWraper .play:hover {
  background: #2c2cad;
}

.quizSubtitle {
  color: #333;
  padding: 0.7rem 0;
  font-size: 25px;
  border: none;
  font-weight: bold;
}

.btnWraper {
  padding: 0.5rem 0;
  text-align: center;
  width: 100%;
}

/* home btn */
.BtnWraper {
  position: absolute;
  top: 70%;
  left: 5%;
}

.BtnWraper a {
  padding: 0.8rem 0.8rem;
  outline: none;
  border-radius: 6px;
  font-size: 25px;
  margin: 0 0.3rem;
  text-decoration: none;
}

.homeBtn {
  background: blue;
  border: none;
  color: white;
}

.playBtn i {
  padding: 0 0.5rem;
  font-size: 25px;
}

.playBtn {
  border: 2px solid #059005;
  background: transparent;
  color: #059005;
}

.score {
  font-size: 30px;
}

/* Responisve */
@media only screen and (max-width: 720px) {
  .answerWraper img {
    height: 100px;
    width: 100%;
  }
}

.li {
  opacity: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.js-btn:nth-child(1) {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-delay: 0.22s;
          transition-delay: 0.22s;
}

.js-btn:nth-child(2) {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-delay: 0.32s;
          transition-delay: 0.32s;
}

.js-btn:nth-child(3) {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-delay: 0.42s;
          transition-delay: 0.42s;
}

.js-btn:nth-child(4) {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-delay: 0.52s;
          transition-delay: 0.52s;
}
/*# sourceMappingURL=main.css.map */