body{
    background: #332;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}

body{
    background:white;
    height: 100%;
    width:100%;
}


// Header heading

.quizHeader{
    text-align: center;
    padding: 1rem;
    background: #333;



    .quizHeaderHeading{
        color: rgb(163, 160, 160);
        margin: 0;
        padding: 0;
    }

}

// Background logo


.quizLogoBackground{

    height: 400px;

    .quizLogoBackgroundImage {
        height: 100%;
          position: relative;
      
      
      }


      .quizLogoBackgroundImage img{
        height: 200px;
        width: 220px;
        position: absolute;
        left: 50%;
        top:50%;
        transform: translate(-50%,-50%);
        
    }
}




.quizPlayButtonWraper{
    text-align: center;


    .play{
        outline: none;
        border: none;
        background: rgb(14, 14, 185);
        padding: 1rem;
        width: 50%;
        color: wheat;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;

        &:hover{
            background: rgb(44, 44, 173);
        }
    
    }


    
}

.quizSubtitle{
    color: #333;
    padding: 0.7rem 0;
    font-size: 25px;
    border: none;
    font-weight: bold;
}





.btnWraper{
    padding: 0.5rem 0;
    text-align: center;
    width: 100%;
}


/* home btn */

.BtnWraper{
    position: absolute;
  top:70%;
    left: 5%;
}

.BtnWraper a {

   
    padding: 0.8rem 0.8rem;
   
    outline: none;
    border-radius:6px;
    font-size: 25px;
    margin: 0 0.3rem;
    text-decoration: none;

}
.homeBtn{
    background: blue;
    border: none;
    color: white;
}

.playBtn i{
padding: 0 0.5rem;
font-size: 25px;
}
.playBtn {
    
border:2px solid rgb(5, 144, 5);
background: transparent;
color: rgb(5, 144, 5);
}





.score{
    font-size: 30px;
}


/* Responisve */

@media only screen and (max-width: 720px) {

 



    
    .answerWraper img{
        height: 100px;
        width:100%;
        }
      


  }



  
    .li{
        opacity: 0;
        transform: translateX(100%);
        transition:  all ease-in-out 0.3s; 
        // width:100px;
    }

  

    
 


  @for $i from 1 through 4{

.js-btn:nth-child(#{$i}){
 opacity: 1;
    transform: translateX(0);
    transition-delay: ($i* 0.1s) + 0.12s
}
   
 

}
 
